@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>TABLE TIME!</title>
</head>
<body>
    <h1>TABLE TIME!</h1>
    <h2>@foo()</h2>
</body>
</html>

@code 
{
    private string foo()
    {
        return "ERE IAM JH : " + DateTime.Now;
    }
}